/* body */
body {
    background-color: #8CFF8C; 
    margin: 0;
}

/* 標題1*/
h1 {
    font-size: 3em;
    color: #6b3008;
    text-align: center;
}

/* 選單 */
.navigation ul {
    background-color: #008500;
    margin: 0;
    padding: 4px;
    text-align: center;
}
.navigation ul li {
    list-style-type: none;
    display: inline;
    margin: 0 8px;
}
.navigation ul li a {
    color: #ffffff;
    text-decoration: none;
}
.navigation ul li a:hover {
    color: #62d5e8;
    text-decoration: underline;
}

/* 主視覺 */
.mainvisual {
    background-color:#63823c;
    border-bottom: solid  #57714a;
}
.mainvisual img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* article */
article {
    padding: 32px 16px;
}

/* 背景色・文字色 */
#profile {
    background-color: #B5FFB5;
    color: #000000;
}

/* 邊界設定 */
#profile .inner {
    max-width: 600px;
    margin: 0 auto;
}

#concert {
    max-width: 600px;
    margin: 0 auto;
}

/* section */
section {
    margin: 48px 0;
}


/* 標題23 */


h2 { 
    padding-left: 6px;
}

h3 {
    
    padding-left: 6px;
}

table.cinereousTable {
  font-family: Arial, Helvetica, sans-serif;
  border: 4px solid #68BA74;
  background-color: #C2FF89;
  width: 100%;
  height: 500px;
  text-align: center;
}
table.cinereousTable td, table.cinereousTable th {
  border: 4px solid #4DA35D;
  padding: 4px 4px;
}
table.cinereousTable tbody td {
  font-size: 13px;
}
table.cinereousTable thead {
  background: #40944D;
  background: -moz-linear-gradient(top, #70af79 0%, #539e5e 66%, #40944D 100%);
  background: -webkit-linear-gradient(top, #70af79 0%, #539e5e 66%, #40944D 100%);
  background: linear-gradient(to bottom, #70af79 0%, #539e5e 66%, #40944D 100%);
}
table.cinereousTable thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
}

}
table.cinereousTable tfoot td {
  font-size: 16px;
}
/* 回頁首 */
.pagetop {
    text-align: center;
}

/* 著作權 */
.copyright {
    
    text-align: center;
}


/* 著作 */
ol li {
    list-style-type: upper-roman;
}
